/* Estilos generales */
body {
    font-family: 'Open Sans', sans-serif;

    background-image: radial-gradient(circle at 50% 120.71%, #ffdfd6 0, #ffe0d2 3.33%, #ffe1cf 6.67%, #ffe2cc 10%, #ffe4c9 13.33%, #ffe5c8 16.67%, #fbe7c7 20%, #f7e8c6 23.33%, #f2eac7 26.67%, #ecebc8 30%, #e7edc9 33.33%, #e2eecc 36.67%, #dcefcf 40%, #d7f0d2 43.33%, #d2f1d6 46.67%, #cdf2da 50%, #c9f3de 53.33%, #c5f3e3 56.67%, #c1f3e8 60%, #bff3ed 63.33%, #bdf3f2 66.67%, #bcf3f6 70%, #bcf3fb 73.33%, #bdf2ff 76.67%, #bff1ff 80%, #c2f0ff 83.33%, #c5efff 86.67%, #caeeff 90%, #cfedff 93.33%, #d4ebff 96.67%, #daeaff 100%);
  }
  
  .container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
  }
  .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Estilos del header */
  .header {
    text-align: center;
    margin: 0;
    padding: 20px 0;
  }
  
  .titulo__header {
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .img {
    max-width: 100%;
    height: auto;
  }
  
  /* Estilos del formulario */
  .contenedor__form {
    display: grid;
    grid-gap: 20px;
    width: 50%;
    
  }
  
  .campo {
    display: grid;
    grid-template-columns: 1fr;
    
  }
  
  .campo__label1 {
    margin-bottom: 5px;

  }
  
  .campo__field {

    padding: 10px;
    border: 2px solid #171010;
    border-radius: 4px;
    
  }
  
  .campo__btn {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
  }
  

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #01b188;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-transform: capitalize;
    
    }
    .button--red{
        background-color: #d27c73;
    }
    .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    }

    .button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
    }
    .button:hover span {
    padding-right: 15px;
    }

    .button:hover span:after {
    opacity: 1;
    right: 0;
    }


  .button--red {
    background-color: #dc3545;
  }
  
  .button span {
    display: inline-block;
    vertical-align: middle;
  }
  
  /* Estilos del resultado */
  .campo__resultado {
    width: 50%;
    margin-top: 20px;
  }
  
  .p__res {
    font-size: 18px;
    font-weight: bold;
  }


  /* alertas */
  .error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 10px;
  border-radius: 4px;
}

.correcto {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 10px;
  border-radius: 4px;
}

  /* Estilos del footer */
  .footer {
    text-align: center;
    margin: 20px 0;
    padding: 20px 0;
  }
  
  .footer__text {
    margin-bottom: 10px;
  }
  
  .footer__icons {
    display: flex;
    justify-content: center;
  }
  
  .a__icono {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
  
  /* Estilos adicionales para dispositivos móviles */
  @media screen and (max-width: 767px) {
    .campo {
      grid-template-columns: 1fr;
    }
  
    .campo__btn {
     gap: 1rem;
    }
  
    .button {
      margin-top: 10px;
      width: 90%;
    }
  
    .footer__icons {
      margin-top: 10px;
    }
    .campo__field {
        width: 95%;
      }
      .contenedor__form {
        width: 95%;
      }

      .campo__resultado {
        width: 95%;
        margin-top: 20px;
        /* & h2{
            font-size: 2%;
        } */
      }
  }
  